<!-- Tarjetas -->
<div class="home" >
    <div class="horizontal-cards-container">

        <mat-card class="card" [routerLink]="['/characters']">
            <mat-card-header>
                <mat-card-title>Personajes</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/personajes.jpg" alt="">
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
    
        </mat-card>
        <mat-card class="card" [routerLink]="['/locations']">
            <mat-card-header>
    
                <mat-card-title>Lugares</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/locations.jpg" alt="">
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
    
        </mat-card>
        <mat-card class="card" [routerLink]="['/episodes']">
            <mat-card-header>
    
                <mat-card-title>Episodios</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/img/episodes.jpg" alt="">
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
    
        </mat-card>
    </div>
</div>
