.example-spacer {
    flex: 1 1 auto;
  }
  .mat-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar {
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
    width: 30%; /* Ancho completo */
  }
  
  .example-full-width {
    width: 100%; 
    margin-top: 2%;
}
.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.toolbar-end {
  display: flex;
  align-items: center;
}