<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/characters">
      <mat-icon>supervisor_account</mat-icon>
      <span>Personajes</span>
    </button>
    <button mat-menu-item routerLink="/locations">
      <mat-icon>place</mat-icon>
      <span>Lugares</span>
    </button>
    <button mat-menu-item routerLink="/episodes">
      <mat-icon>live_tv</mat-icon>
      <span>Episodios</span>
    </button>
  </mat-menu>
  <div class="toolbar-center">
    <span class="mat-title">{{title}}</span>
  </div>
  <div class="toolbar-end">
    <!-- Botón de inicio -->
    <button routerLink="/" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</mat-toolbar>