mat-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.table-body{
    cursor: pointer; 
    align-items: center;
}